:root {
  --primary-font:"Roboto", sans-serif;
  --primary-text-color: #212121;
  --secondary-tex-color:#757575;
  --third-text-color:#2196F3;
  --transition-dur-and-func:250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1199px) {
  .section {
    padding-top: 97px;
    padding-bottom: 97px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (width: 768px) {
  .container {
    width: 738px;
  }
}
@media screen and (width: 1200px) {
  .container {
    width: 1200px;
  }
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (min-width: 0px), (max-width: 1198px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: border-color var(--transition-dur-and-func);
  }
  .modal-close-btn:hover, .modal-close-btn:focus {
    border-color: var(--third-text-color);
  }
  .modal-close-btn-icon {
    transition: fill var(--transition-dur-and-func);
  }
  .modal-close-btn:hover .modal-close-btn-icon, .modal-close-btn:focus .modal-close-btn-icon {
    fill: var(--third-text-color);
  }
}
@media screen and (min-width: 1199px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: border-color var(--transition-dur-and-func);
  }
  .modal-close-btn:hover, .modal-close-btn:focus {
    border-color: var(--third-text-color);
  }
  .modal-close-btn-icon {
    transition: fill var(--transition-dur-and-func);
  }
  .modal-close-btn:hover .modal-close-btn-icon, .modal-close-btn:focus .modal-close-btn-icon {
    fill: var(--third-text-color);
  }
}
@media screen and (max-width: 767px) {
  .modal-form {
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
  .modal-form__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
  }
  .modal-form__field {
    margin-bottom: 16px;
  }
  .modal-form-input__desc {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    line-height: 1.2;
    margin-bottom: 8px;
    color: #757575;
  }
  .modal-form-input__wrapper {
    display: block;
    position: relative;
  }
  .modal-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 42px;
    transition: border-color var(--transition-dur-and-func);
  }
  .modal-form-input:focus {
    outline: none;
    border-color: var(--third-text-color);
  }
  .modal-form-input__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: block;
    width: 18px;
    height: 18px;
    fill: #212121;
    transition: fill var(--transition-dur-and-func);
  }
  .modal-form-input:focus + .modal-form-input__icon {
    fill: var(--third-text-color);
  }
  .modal-form__message {
    width: 100%;
    height: 120px;
    padding: 10px 16px;
    resize: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition-dur-and-func);
  }
  .modal-form__message::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .modal-form__message:focus {
    outline: none;
    border-color: var(--third-text-color);
  }
  .modal-form-check__desc {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #757575;
    transition: border-color var(--transition-dur-and-func), outline var(--transition-dur-and-func);
  }
  .modal-form-check__desc::before {
    display: block;
    width: 16px;
    height: 15px;
    background-repeat: no-repeat;
    border: 1px solid #212121;
    content: "";
    cursor: pointer;
    border-radius: 2px;
    margin-right: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: background-color var(--transition-dur-and-func), background-position var(--transition-dur-and-func), background-color var(--transition-dur-and-func), outline var(--transition-dur-and-func);
  }
  .modal-form-check:focus + .modal-form-check__desc::before {
    border-color: var(--third-text-color);
    outline: none;
    outline: 1px solid var(--third-text-color);
  }
  .modal-form-check:checked + .modal-form-check__desc::before {
    background-image: url("../images/svg/check.svg");
    background-position: 50% 50%;
    background-color: #2196F3;
  }
  .modal-form-check__link {
    color: var(--third-text-color);
    transition: color var(--transition-dur-and-func);
  }
  .modal-form-check__link:hover, .modal-form-check__link:focus {
    color: #188CE8;
  }
  .modal-form-submit {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 712px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: #2196F3;
    transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
    color: #ffffff;
  }
  .modal-form-submit:hover, .modal-form-submit:focus {
    background-color: #188CE8;
    color: #ffffff;
  }
}
@media screen and (min-width: 768px), (max-width: 1199px) {
  .modal-form {
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
  .modal-form__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
  }
  .modal-form__field {
    margin-bottom: 16px;
  }
  .modal-form-input__desc {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    line-height: 1.2;
    margin-bottom: 8px;
    color: #757575;
  }
  .modal-form-input__wrapper {
    display: block;
    position: relative;
  }
  .modal-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 42px;
    transition: border-color var(--transition-dur-and-func);
  }
  .modal-form-input:focus {
    outline: none;
    border-color: var(--third-text-color);
  }
  .modal-form-input__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: block;
    width: 18px;
    height: 18px;
    fill: #212121;
    transition: fill var(--transition-dur-and-func);
  }
  .modal-form-input:focus + .modal-form-input__icon {
    fill: var(--third-text-color);
  }
  .modal-form__message {
    width: 100%;
    height: 120px;
    padding: 10px 16px;
    resize: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition-dur-and-func);
  }
  .modal-form__message::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .modal-form__message:focus {
    outline: none;
    border-color: var(--third-text-color);
  }
  .modal-form-check__desc {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #757575;
    transition: border-color var(--transition-dur-and-func), outline var(--transition-dur-and-func);
  }
  .modal-form-check__desc::before {
    display: block;
    width: 16px;
    height: 15px;
    background-repeat: no-repeat;
    border: 1px solid #212121;
    content: "";
    cursor: pointer;
    border-radius: 2px;
    margin-right: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: background-color var(--transition-dur-and-func), background-position var(--transition-dur-and-func), background-color var(--transition-dur-and-func), outline var(--transition-dur-and-func);
  }
  .modal-form-check:focus + .modal-form-check__desc::before {
    border-color: var(--third-text-color);
    outline: none;
    outline: 1px solid var(--third-text-color);
  }
  .modal-form-check:checked + .modal-form-check__desc::before {
    background-image: url("../images/svg/check.svg");
    background-position: 50% 50%;
    background-color: #2196F3;
  }
  .modal-form-check__link {
    color: var(--third-text-color);
    transition: color var(--transition-dur-and-func);
  }
  .modal-form-check__link:hover, .modal-form-check__link:focus {
    color: #188CE8;
  }
  .modal-form-submit {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 712px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: #2196F3;
    transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
    color: #ffffff;
  }
  .modal-form-submit:hover, .modal-form-submit:focus {
    background-color: #188CE8;
    color: #ffffff;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 796px;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-dur-and-func);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 16px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu__close-icon {
    transition: fill var(--transition-dur-and-func);
  }
  .mobile-menu__close-btn:hover .mobile-menu__close-icon, .mobile-menu__close-btn:focus .mobile-menu__close-icon {
    fill: var(--third-text-color);
  }
  .mobile-menu__link {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.02em;
    color: #212121;
    cursor: pointer;
    transition: color var(--transition-dur-and-func);
  }
  .mobile-menu__link:hover, .mobile-menu__link:focus {
    color: var(--third-text-color);
  }
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__phone {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--third-text-color);
    transition: color var(--transition-dur-and-func);
  }
  .mobile-menu__phone:hover, .mobile-menu__phone:focus {
    color: #188CE8;
  }
  .mobile-menu__contacts {
    margin-top: 306px;
  }
  .mobile-menu__mail {
    display: block;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-tex-color);
    margin-top: 32px;
    margin-bottom: 64px;
    transition: color var(--transition-dur-and-func);
  }
  .mobile-menu__mail:hover, .mobile-menu__mail:focus {
    color: var(--third-text-color);
  }
  .mobile-menu__socials {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .mobile-menu__socials-link {
    position: relative;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: var(--third-text-color);
    transition: color var(--transition-dur-and-func);
  }
  .mobile-menu__socials-link:hover, .mobile-menu__socials-link:focus {
    color: #188CE8;
  }
  .mobile-menu__socials-item:not(:last-child)::after {
    content: "";
    height: 0px;
    width: 22px;
    transform: rotate(90deg);
    border: 1px solid rgba(33, 33, 33, 0.2);
    margin-left: 10px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 768px), (max-width: 1198px) {
  .mobile-menu-open {
    display: none;
  }
  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ECECEC;
  }
  .page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page-header__logo {
    margin-right: 88px;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .menu__link {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    cursor: pointer;
    transition: color var(--transition-dur-and-func);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--third-text-color);
  }
  .menu__link_current::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--third-text-color);
    border-radius: 2px;
    transition: background-color var(--transition-dur-and-func);
    bottom: -33px;
  }
  .menu__link_current {
    color: var(--third-text-color);
  }
  .menu__link.current:hover:after {
    background-color: var(--third-text-color);
  }
  .contacts-head__phone, .contacts-head__mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-tex-color);
    transition: color var(--transition-dur-and-func);
  }
  .contacts-head__mail:hover,
.contacts-head__mail:focus,
.contacts-head__phone:hover,
.contacts-head__phone:focus {
    color: var(--third-text-color);
  }
  .contacts-head__mail {
    display: flex;
    margin-bottom: 10px;
  }
  .contacts-head__icon1 {
    margin-right: 8px;
    align-self: center;
    fill: currentColor;
  }
  .contacts-head__phone {
    display: flex;
  }
  .contacts-head__icon2 {
    margin-right: 8px;
    margin-bottom: 0px;
    align-self: center;
    fill: currentColor;
  }
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--third-text-color);
}

.page-header__logo2 {
  color: var(--primary-text-color);
}

@media screen and (min-width: 1199px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ECECEC;
  }
  .page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  /* --------------------------------Menu-nav------------------------ */
  .menu {
    display: flex;
    align-items: center;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--third-text-color);
  }
  .page-header__logo2 {
    color: var(--primary-text-color);
  }
  .page-header__logo {
    margin-right: 93px;
  }
  .menu__link {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    cursor: pointer;
    transition: color var(--transition-dur-and-func);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--third-text-color);
  }
  .menu__link_current::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--third-text-color);
    border-radius: 2px;
    transition: background-color var(--transition-dur-and-func);
    bottom: -33px;
  }
  .menu__link_current {
    color: var(--third-text-color);
  }
  .menu__link.current:hover:after {
    background-color: var(--third-text-color);
  }
  .contacts-head {
    display: flex;
    align-items: center;
  }
  .contacts-head__phone, .contacts-head__mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-tex-color);
    transition: color var(--transition-dur-and-func);
  }
  .contacts-head__mail:hover,
.contacts-head__mail:focus,
.contacts-head__phone:hover,
.contacts-head__phone:focus {
    color: var(--third-text-color);
  }
  .contacts-head__mail {
    display: flex;
    justify-content: center;
    margin-right: 50px;
    margin-bottom: 0px;
  }
  .contacts-head__icon1 {
    margin-right: 10px;
    align-self: center;
    fill: currentColor;
  }
  .contacts-head__phone {
    display: flex;
    justify-content: center;
  }
  .contacts-head__icon2 {
    margin-right: 10px;
    margin-bottom: 0px;
    align-self: center;
    fill: currentColor;
  }
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ECECEC;
  }
  .contacts-head {
    display: none;
  }
  .page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
  }
  .mobile-menu-open:hover .mobile-menu-open__icon,
.mobile-menu-open:focus .mobile-menu-open__icon {
    flex: var(--third-text-color);
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero/mobile/header-mobile.jpg");
    background-size: cover;
    background-color: #C4C4C4;
  }
  .hero__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
  }
  .hero__btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: var(--third-text-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
    padding: 10px 32px 10px 32px;
    margin: auto;
    transition: color var(--transition-dur-and-func);
  }
  .hero__btn:hover, .hero__btn:focus {
    background-color: #188CE8;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 192dpi) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero/mobile/header-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px), (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero/tablet/header-tablet.jpg");
    background-size: cover;
    background-color: #C4C4C4;
  }
  .hero__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
  }
  .hero__btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: var(--third-text-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
    padding: 10px 32px 10px 32px;
    margin: auto;
    transition: color var(--transition-dur-and-func);
  }
  .hero__btn:hover, .hero__btn:focus {
    background-color: #188CE8;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px), screen and (max-width: 1199px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (max-width: 1199px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (max-width: 1199px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero/tablet/header-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1199px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero/desktop/header-desktop.jpg");
    background-size: cover;
    background-color: #C4C4C4;
  }
}
@media screen and (min-width: 1199px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1199px) and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-width: 1199px) and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero/desktop/header-desktop2x.jpg");
  }
}
@media screen and (min-width: 1199px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1199px) {
  .hero__btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: var(--third-text-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
    padding: 10px 32px 10px 32px;
    margin: auto;
    transition: color var(--transition-dur-and-func);
  }
  .hero__btn:hover, .hero__btn:focus {
    background-color: #188CE8;
  }
}
@media screen and (min-width: 1199px) {
  .characteristic__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
  .characteristic__background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .characteristic__item {
    width: 270px;
  }
  .characteristic__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 10px;
  }
  .characteristic__subtitle {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-tex-color);
    letter-spacing: 0.03em;
  }
}
@media screen and (width: 768px), (max-width: 1198px) {
  .characteristic__list {
    display: flex;
    flex-wrap: wrap;
    width: 738px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
  }
  .characteristic__background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 354px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .characteristic__item {
    width: 354px;
    margin-left: auto;
    margin-right: auto;
  }
  .characteristic__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 10px;
  }
  .characteristic__subtitle {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-tex-color);
    letter-spacing: 0.03em;
  }
}
@media screen and (max-width: 767px) {
  .characteristic__list {
    display: flex;
    flex-direction: column;
    width: auto;
    padding-bottom: 30px;
  }
  .characteristic__background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .characteristic__item {
    width: 450px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .characteristic__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 10px;
  }
  .characteristic__subtitle {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-tex-color);
    letter-spacing: 0.03em;
  }
}
.service {
  padding-bottom: 94px;
}

.service__link {
  position: relative;
}

.service__title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
  bottom: 0;
  width: 100%;
  height: 70px;
}

.service__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color var(--transition-dur-and-func);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--third-text-color);
}

.socails__icon {
  fill: #AFB1B8;
  transition: fill var(--transition-dur-and-func);
}
.socials__link:hover .socails__icon, .socials__link:focus .socails__icon {
  fill: #ffffff;
}

.team {
  background-color: #F5F4FA;
  margin-bottom: 94px;
}

.team__list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.team__card {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-tex-color);
  text-align: center;
  margin-bottom: 16px;
}

.team__title {
  padding-top: 30px;
  padding-bottom: 30px;
}

.clients {
  display: flex;
  align-items: center;
  gap: 30px;
}

.clients-section {
  padding-bottom: 97px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border var(--transition-dur-and-func), border-radius var(--transition-dur-and-func);
}
.clients__link:hover, .clients__link:focus {
  fill: #2196F3;
  border: 1px solid #2196F3;
  border-radius: 4px;
}

.clients__item {
  display: flex;
  align-items: center;
}

.clients__logo {
  fill: #AFB1B8;
  transition: fill var(--transition-dur-and-func);
}
.clients__item:hover .clients__logo, .clients__item:focus .clients__logo {
  fill: #2196F3;
}
.clients__link:hover .clients__logo, .clients__link:focus .clients__logo {
  fill: #2196F3;
}

.filters {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.filter:hover,
.filter:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters__btn {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 500;
  color: var(--primary-text-color);
  cursor: pointer;
  background: #F5F4FA;
  border-radius: 4px;
  border: none;
  padding: 6px 22px 6px 22px;
  transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func);
}
.filters__btn:hover, .filters__btn:focus {
  background: var(--third-text-color);
  color: #FFFFFF;
}

.project-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-card:hover,
.project-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-titles {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.projects-group {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-tex-color);
}

.project-link {
  display: block;
  position: relative;
  border: 1px solid #EEEEEE;
}

.project-inform {
  border: 1px solid #EEEEEE;
  border-top: none;
  padding: 20px 24px 20px 24px;
}

.project-link-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  transform: translate(0, 100%);
  transition: transform var(--transition-dur-and-func);
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 63px 24px;
}
.poject-link:hover .overlay, .poject-link:focus .overlay {
  transform: translate(0, 0);
}

.page-footer {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.page-footer__container {
  display: flex;
  gap: 70px;
}

.page-footer__logo2 {
  color: white;
}

.page-footer__logo {
  display: block;
  padding-bottom: 20px;
}

.contacts-item-box {
  display: block;
}

.contacts-footer__location {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  font-style: normal;
  margin-bottom: 9px;
  transition: color var(--transition-dur-and-func);
}
.contacts-footer__location:hover, .contacts-footer__location:focus {
  color: var(--third-text-color);
}

.contacts-footer__mail, .contacts-footer__phone {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  font-style: normal;
  transition: color var(--transition-dur-and-func);
}

.contacts-footer {
  margin-bottom: 9px;
}

.contacts-footer__phone {
  margin-bottom: 0px;
}

.contacts-footer__mail:hover,
.contacts-footer__mail:focus,
.contacts-footer__phone:hover,
.contacts-footer__phone:focus {
  color: var(--third-text-color);
}

.footer-socials__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-style: normal;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.footer-socials__list {
  display: flex;
  gap: 10px;
}

.footer-socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-and-func);
}
.footer-socials__link:hover, .footer-socials__link:focus {
  background-color: var(--third-text-color);
}

.footer-socials__icon {
  fill: #ffffff;
}

.subscribe {
  margin-left: auto;
}

.subscribe__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-style: normal;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.subscribe__mail {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  padding-left: 16px;
  background-color: #2F303A;
  color: #ffffff;
  transition: border-color var(--transition-dur-and-func);
}
.subscribe__mail:hover, .subscribe__mail:focus {
  border-color: var(--third-text-color);
}

.subscribe__items {
  display: flex;
}

.subscribe__btn {
  display: flex;
  outline: none;
}

.subscribe__btn {
  width: 200px;
  height: 50px;
  left: 1185px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding: 10px 28px;
  transition: background var(--transition-dur-and-func), color var(--transition-dur-and-func);
  outline: none;
  border: none;
}
.subscribe__btn:hover, .subscribe__btn:focus {
  background: #ffffff;
  color: #2196F3;
  outline: none;
}

.subscribe__icon {
  margin-left: 10px;
  fill: #FFFFFF;
  transition: fill var(--transition-dur-and-func);
}
.subscribe__btn:hover .subscribe__icon, .subscribe__btn:focus .subscribe__icon {
  fill: #2196F3;
}/*# sourceMappingURL=main.css.map */