.project-flex{
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 100%;
    @media screen and(min-width:767px) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;;
    }
    
    }

    

.project-card:hover,
.project-card:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-card{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width:767px){
        flex-basis:calc((100% - 30px )/2) ;
        }
    @media screen and (min-width:1199px){
        flex-basis:calc((100% - 60px )/3)
    }
}

.projects-titles{
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.projects-group{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-tex-color);
}

.project-link{
    // display: block;
    position: relative;
    border: 1px solid #EEEEEE;
    
}

    .project-inform{
        border: 1px solid #EEEEEE;
        border-top: none;
        padding: 20px 24px 20px 24px;
        margin-left: auto;
        margin-right: auto; 
        @media screen and (min-width:767px){ 
            flex-grow: 1;
        }
    }
.project-link-img{
    position: relative;
    overflow: hidden;
    @media screen and (min-width:767px){
        flex-basis:calc((100% - 30px )/2) ;
    }
}
    .overlay{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    transform: translate(0, 100%);
    transition: transform var(--transition-dur-and-func);
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);
    padding: 63px 24px 63px 24px;
    
    .poject-link:hover &,
    .poject-link:focus & {
        transform: translate(0, 0);
    }
}


