
@media screen and(max-width:1199px){
.service{
    display: none;
}
}
@media screen and(min-width:1199px){
.service{
    padding-bottom: 94px;
}
.service__link{
    position:relative;
}
.service__title{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background:rgba(47, 48, 58, 0.8);
    color: #FFFFFF;
    bottom:0;
    width: 100%;
    height: 70px;
}
.service__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:30px;
}
}