
.section{
    padding-top: 60px;
    padding-bottom:60px;
    margin-left:auto;
    margin-right: auto;
}
@media screen and (min-width: 1199px){
.section{
    padding-top: 97px;
    padding-bottom:97px;
}
}